@media only screen and (max-width: 600px){
    header {
        border: none;
        width: 100%;
        height: auto;
        padding: 0px;
    }

    .logo img {
        margin-right: 0px;
        /* color: #e41c58; */
    }

    .logo span {
        font-size: 16px;
        font-weight: 600;
    }

    header nav {
        display: flex;
        justify-content: space-between;
        padding: 0px 22px;
        padding-right: 35px;
        align-items: center;
    }

    nav .icon i{
        display: block;
        position: relative;
        font-size: 30px;
    }


    nav .icon ul {
        display: none;
        position: absolute;
        right: 0px;
        top: 70px;
        line-height: 2;
        background-color: #000;
    }

    nav .icon:hover ul{
        display: grid;
    }





    .sec1 {
        width: 100%;
        height: auto;
        display: grid;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        background: linear-gradient(to bottom, #fbaa97, #84d7e3, #e41c58);
    }

    .sec1-left-cntnt {
        width: auto;
        padding: 10px;
        text-align: center;
        display: flex;
        align-items: center;
        animation-duration: 2s;
        animation-name: slidein;
        height: 600px;
    }

    .sec1-right-cntnt {
        display: none;
    }

    .sec3 {
        width: 100%;
            display: flex;
        justify-content: center;
        height: auto;
        margin-top: 50px;
        align-items: center;
    }

    .sec3-child {
        display: block;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 80px;
        justify-content: center;
        /* height: auto; */
        padding: 15px;
        border: 1px solid #000;
        cursor: pointer;
        color: white;
        background-color: black;
    }

    .sec1-btn {
        margin-top: 30px;
        display: flex;
        padding: 0px 27px;
        gap: 10px;
        justify-content: center;
    }

    .sec3-box1 {
        margin-bottom: 47px;
    }

    .sec1-left-cntnt .sec1-btn button {
        padding: 10px;
        background-color: rgb(10, 187, 247);
        font-weight: 800;
        border: none;
        cursor: pointer;
        font-size: 12px;
    }

    .sec4 h2 {
        font-size: 19px;
        font-weight: 900;
    }   

    .sec4 p {
        font-size: 14px;
    }

    .sec-2 .main-sec-2 .main-choose .img-div{
        display: none;
    }

    .sec-2 .main-choose .writen .div-write-1 {
        text-align: left;
        background-image: radial-gradient(rgba(17, 17, 18, 0.83), rgb(12, 12, 12));
        display: block;
        border: 2px solid rgb(0, 0, 0);
        justify-content: space-evenly;
        transition: all 0.3s ease 0s;
    }

    .sec-2 .main-sec-2 .title h1 {
        font-size: 27px;
        font-weight: 800;
    }

    .sec-2 .main-choose .writen {
        background-color: #000000;
        justify-content: center;
        display: grid;
        width: 100%;
    }

    .sec6 {
        width: 100%;
        height: auto;
        background-color: #84d7e3;
        padding: 50px;
        display: inline-block;
    }



    .sec10-one{
        display: none;
    }

    .sec10-two{
        width: 100%;
    }

    .sec10-two form input {
        margin-top: 10px;
        width: 200px;
        height: 40px;
        background-color: #e3e0e0;
        padding-left: 10px;
        border: none;
    }

    .sec11{
        display: block;
    }

    .footer {
        width: 100%;
    }

    .footer-main {
        display: block;
    }    
}